<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>PROFIL</h1>
    <img src="<%=data.UrlImage%>" alt="Italian Trulli">




    </table>
    <br>
    <h3>NAMA</h3>
    <br>
    <%=data.name%>
    <br>
    <h3>GENDER</h3>
    <br>
    <%=data.gender%>
    <br>
    <h3>ADDRESS</h3>
    <br>
    <%=data.address%>
    <br>
    <h3>JOB</h3>
    <br>
    <%=data.job%>
    <br>
    <h3>PHONE</h3>
    <br>
    <%=data.phone%>
    <br>
    <h3>SALARY</h3>
    <br>
    <%=data.sallary%>

</body>

</html>